
.header-row{
  font-weight: 500;
  border: 2px solid black;
}

.data-row{
  border-bottom: 1px solid black;
}

.female{
  background: plum;
  color: rebeccapurple;
}

.male{
  background: burlywood;
  color: rebeccapurple;
}